#MainFooter {
    background-color: #2A2D33;
    /* border-top: 1px solid #AAAAAA; */
    /* box-shadow: 0 -3px 3px 0 rgba(0, 0, 0, 0.15); */
    
    font-family: arial;
    font-size: 1em;
    color: #818692;
    position: absolute;
    bottom: 0;
    left: 0;
    /*height: 380px;*/
    width: 100%;
    /* padding: 0 35px; */
}
section{
    padding: 25px 55px;
    /*max-width: 1230px;*/
}
.container {
    max-width: 1230px;
    margin-right: auto;
    margin-left: auto;
    margin: auto;
}
/*#MainFooter .footerLinkContainerWrapper .footerLinkContainer {
    margin-top: 10px;
    padding-left: 6px;
    padding-right: 2px;
}*/
a, li{
    text-decoration: none;
    list-style-type: none;
    color: #ffffff;
    font-size: 0.9em;
}
ul{
    padding: 0px;
    margin: 0px;
}
h4{
    margin: 0px;
    padding: 0px;
}
.footerLinkContainer{
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}
.left{
    display: inline-block;
     position: relative;
    top: 0px;
    left: 0px;
}
.left ul li{
    margin: 10px 0px 10px 0px;
}
.left ul li a{
    font-size: 1.2em;
    color: lightgray;
}
.right{
    display: inline-block;
     position: relative;
    top: 0px;
    left: 0px;
}
p{
    color: #818692;
    font-size: 0.8em;
    margin: 5px;
}
p a{
    color: wheat;
    font-size: 0.8em;
    margin: 5px;
}
a:hover{
    text-decoration: underline;
}
.footerLogo{
    display: inline-block;
    min-height: 50px;
    background: url("../img/telerik-academy-logo.png") no-repeat;
    background-size: 150px;
    width: 150px;
}
.versionAndTerms{
    width: 40%;
    display: inline-block;
}
.footer-login{
    display: inline-block;
    margin-left: 20px;
    margin-top: 40px;
    font-weight: bold;
    margin-left: 15%;
}
.social-links{
    display: inline-block;
    margin-left: 10px;
}
.social-links a:hover{
      text-decoration: none;
}
